{{/*
  Adds list of authors as string.
  
  Returns a slice of maps with "authorStr": list of authors as string,
  "key": Zotero item key, "citation": Zotero item map.
  
  @param {slice} items The Zotero bibliography items (.data member only).
  @param {int} authorNum The number of authors in the author string.
*/}}
{{- $items := .items -}}
{{- $authorNum := .authorNum -}}
{{- $citations := slice -}}

{{- range $items }}
  {{- $authors := slice -}}
  {{- range .creators }}
    {{- if or (eq .creatorType "author") (eq .creatorType "artist") }}
      {{- $initial := cond .firstName (printf "%s." (substr .firstName 0 1)) "" -}}
      {{- $authors = $authors | append (or .name (printf "%s, %s" .lastName $initial)) -}}
    {{- end }}
  {{- end }}

  {{- $shown := first $authorNum $authors -}}
  {{- $authorStr := delimit $shown ", " -}}
  {{- if gt (len $authors) $authorNum }}
    {{- $authorStr = printf "%s et al." $authorStr -}}
  {{- end }}

  {{- $citations = $citations | append (dict
      "authorStr" $authorStr
      "key" .key
      "citation" .
  ) -}}
{{- end }}

{{- return (sort $citations "authorStr") -}}
