{{ $collection := .collection }}
{{ $allCitations := .citations }}
{{ $thisKey := $collection.key }}

  <h2>{{ $collection.name }}</h2>

    {{ range $citation := $allCitations }}
        {{ $collectionKeys := $citation.citation.collections | default (slice) }}
        {{ if in $collectionKeys $thisKey }}
            {{ partial "render-citation.html" $citation }}
        {{ end }}
    {{ end }}

  {{/* Render children recursively */}}
  {{ with $collection.children }}
      {{ range . }}
        {{ partial "render-collection.html" (dict "collection" . "citations" $allCitations) }}
      {{ end }}
  {{ end }}