<style>
    .apa-citation {
        margin-bottom: 1rem;
        text-indent: -2rem;
        padding-left: 2rem;
    }
</style>

{{- $citations := slice -}}

{{- $context := . }}
{{- $onlyCited := and $context.IsNamedParams (eq ($context.Get "cited") "true") }}
{{- $citedTitles := $context.Page.Scratch.Get "cited_titles" | default (slice) }}
{{- $hasFilters := and $context.IsNamedParams (gt (len $context.Params) 0) }}
{{- $authorParam := $context.Get "authorNum" | default "3" }}
{{- $authorNum := int $authorParam }}


{{- range $entry := site.Data.bibliography }}

    <!-- determines if entry should be filtered -->
    {{- $include := true }}
    {{- if $hasFilters }}
        {{- range $key, $val := $context.Params }}
            {{- if and (ne $key "cited") (ne $key "authorNum") }}
                {{- $entryVal := index $entry $key }}
                {{- if not (eq $entryVal $val) }}
                    {{- $include = false }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}

    <!-- adds entry to citations if it should be included based on filters and in-text citations -->
    {{- if and $include (or (not $onlyCited) (in $citedTitles $entry.title)) }}
            {{- $authors := slice }}
            {{- range $entry.creators }}
                {{- if eq .creatorType "author" }}
                    {{- $firstInitial := "" }}
                    {{- if .firstName }}
                        {{- $firstInitial = printf "%s." (substr .firstName 0 1) }}
                    {{- end }}
                    {{- if .lastName }}
                        {{- $name := printf "%s, %s" .lastName $firstInitial }}
                        {{- $authors = $authors | append $name }}
                    {{- end }}
                {{- end }}
            {{- end }}

            {{- $authorStr := delimit $authors ", " }}
            {{- $shownAuthors := first $authorNum $authors }}
            {{- $authorList := delimit $shownAuthors ", " }}
            {{- if ge (len $authors) $authorNum }}
                {{- $authorStr = printf "%s et al." ($authorList) }}
            {{ else }}
                {{- $authorStr = $authorList }}
            {{- end }}
            {{- $citation := dict "authorStr" $authorStr "citation" $entry -}}
            {{- $citations = $citations | append $citation }}
    {{- end }}    
{{- end }}

{{$sortedCitations := sort $citations "authorStr" }}
{{$collections := site.Data.collections }}

<ul style="list-style-type: none;" class="apa-citation-list">
    {{- range $citation := $sortedCitations }}
        {{- $collections := $citation.citation.collections | default (slice) }}
        {{- if eq (len $collections) 0 }}
            {{- partial "render-citation.html" . }}
        {{- end }}
    {{- end }} 

    {{- range $collections }}
        {{ partial "render-collection.html" (dict "collection" . "citations" $sortedCitations) }}
    {{- end }}
</ul>
