{{ $title := .Get "title" }}

{{- $.Page.Scratch.Add "cited_titles" $title -}}


{{ $groupId := site.Params.groupId }}
{{ $endpoint := printf "https://api.zotero.org/groups/%d/items?start=0&limit=100&format=json" $groupId }}

{{ $remote := resources.GetRemote $endpoint }}
{{ with $remote }}
{{ $data := .Content | transform.Unmarshal }}
{{- range $data }}
{{$entry := .data}}

{{- if eq $entry.title $title }}
<p>
    {{- $authors := slice -}}
    {{- range $entry.creators }}

    {{- if eq $entry.creatorType "author" }}
    {{- if $entry.lastName }}
    {{- $name := printf "%s" $entry.lastName}}
    {{- $authors = $authors | append $name }}
    {{- end }}
    {{- end }}
    {{- end }}

    {{$authorStr := ""}}
    {{- if eq (len $authors) 1 }}
    {{- $authorStr = (index (split (index $authors 0) ",") 0 ) -}}
    {{- end}}
    {{- if eq (len $authors) 2 }}
    {{ $authorStr = printf "%s & %s " (index (split (index $authors 0) ",") 0) (index (split (index $authors 1) ",") 0)}}
    {{- end}}
    {{- if eq (len $authors) 3 }}
    {{$authorStr = printf "%s et al." (index (split (index $authors 0) ",") 0 )}}
    {{- end}}
    {{- if gt (len $authors) 3 }}
    {{$authorStr = printf "%s et al." (index (split (index $authors 0) ",") 0 )}}
    {{- end}}

    ({{$authorStr}}, {{ $entry.date }})
</p>
{{- end}}
{{- end}}
{{- end}}
